@font-face {
    font-family: "Kalam";
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/Kalam-400.woff") format("woff"),
    url("../assets/fonts/Kalam-400.woff2") format("woff2"),
    url("../assets/fonts/Kalam-400.ttf") format("trutype");
}